header{
background-color: #009270;
display: flex;
align-items: center;
justify-content: space-around;
color: white;
}
span{
    font-size: 18px;
   
}
#btn{
    background-color: rgb(243, 240, 240);
    border-radius: 10px;
    border: none;
    padding: 6px;
    width: 110px;
    font-size: 14px;
    height: 30px;
}
div{
    background-color: white;
    width: 300px;
    height: 200px;
    border: 1px solid rgb(181, 177, 177);
   
    
}
 #card1{
   
    height: 160px;
    
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 10px;
    padding-left: 5px;
    
}
#card2{
    background-color: rgb(188, 183, 183);
    text-align: right;
    padding-right: 5px;
    
    
    height: 30px;
}
button{
    background-color: red;
   width: 50px;
    height: 20px;
    border-radius: 10px;
}
